<section class="experiencia row">
    <h3 class="exp">Experiencia Laboral</h3>
    <div class="row">

        <div class="col-md-12">
            <img class="imagenExperiencia" src="./assets/imagenes/trabajos/computadora2.jpg" alt="">
            <h4>Trabajo 1</h4>
            <p>Experiencia laboral 1</p>
        </div>

        
    </div>

    <div class="row">

        <div class="col-md-12">
            <img class="imagenExperiencia" src="./assets/imagenes/trabajos/computadora2.jpg" alt="">
            <h4>Trabajo 2</h4>
            <p>Experiencia laboral 2</p>
        </div>

        
    </div>

    <div class="row">

        <div class="col-md-12">
            <img class="imagenExperiencia" src="./assets/imagenes/trabajos/computadora2.jpg" alt="">
            <h4>Trabajo 2</h4>
            <p>Experiencia laboral 2</p>
        </div>

        
    </div>

</section>
