<header >
    <div class="container-fluid">
        
        <img class="logo"  src="./assets/imagenes/arg-programa.png" alt="logo de Argentina Programa">
        
        <input class="boton" type="button" value="Login">
        
        <button class="boton3" type="button"> 
            <img src="./assets/imagenes/github.png" alt="github" height="30" width="40"/>
        </button>
  
        <button class="boton3" type="button">
            <img src="./assets/imagenes/face.png" height="30" width="40" alt="facebook">
        </button>
  
        <button class="boton3" type="button">
            <img src="./assets/imagenes/insta.jpg" height="30" width="40" alt="instagram">
        </button>
  
        <button class="boton3" type="button"> 
            <img src="./assets/imagenes/youtube.png" alt="youtube" height="30" width="40"/>
        </button>
        
        
    </div>
  </header>
