<section class="proyectos row">
    <h3 class="exp">Proyectos</h3>
    <div class="row">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
                <img class="fotosProyectos" src="./assets/imagenes/Reloj digital.png" alt="imagen proyecto 1">
                <p>Reloj Digital <br> 
                    HTML-CSS-JS</p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
                <img class="fotosProyectos" src="./assets/imagenes/Portfolio Web.png" alt="imagen proyecto 1">
                <p>Portfolio Web <br> 
                    HTML-CSS-JS</p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
                <img class="fotosProyectos" src="./assets/imagenes/trabajos/apliciones.jpg" alt="imagen proyecto 1">
                <p>Proyecto 1 <br> 
                    HTML-CSS-JS</p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
                <img class="fotosProyectos" src="./assets/imagenes/trabajos/apliciones.jpg" alt="imagen proyecto 1">
                <p>Proyecto 1 <br> 
                    HTML-CSS-JS</p>
            </div>

            
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
                <img class="fotosProyectos" src="./assets/imagenes/trabajos/apliciones.jpg" alt="imagen proyecto 1">
                <p>Proyecto 1 <br> 
                    HTML-CSS-JS</p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
                <img class="fotosProyectos" src="./assets/imagenes/trabajos/apliciones.jpg" alt="imagen proyecto 1">
                <p>Proyecto 1 <br> 
                    HTML-CSS-JS</p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
                <img class="fotosProyectos" src="./assets/imagenes/trabajos/apliciones.jpg" alt="imagen proyecto 1">
                <p>Proyecto 1 <br> 
                    HTML-CSS-JS</p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
                <img class="fotosProyectos" src="./assets/imagenes/trabajos/apliciones.jpg" alt="imagen proyecto 1">
                <p>Proyecto 1 <br> 
                    HTML-CSS-JS</p>
            </div>
    </div> 
<!--</section>-->
