<section class="educacion row">
    <h3 class="exp">Educación</h3>

    <div class="row">

        <div class="col-md-12">
            <img class="imagenEducacion" src="./assets/imagenes/logo_UNLAM-300x300.jpg" alt="">
            <h4 class="sangria">Universidad Nacional de La Matanza</h4>
            <p>Ingeniería en Informática - En curso</p>
        </div>



    </div>

    
    <div class="row">

        <div class="col-md-12">
            <img class="imagenEducacion" src="./assets/imagenes/padre mario.png" alt="">
            <h4 class="sangria">Nuestra Señora del Hogar</h4>
            <p>Bachiller en Ciencias Naturales - 2001</p>
        </div>

        

<!--</section>-->
