<section class="habilidades row">
    <h3 class="tituloHabilidades">Habilidades</h3>
    <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
            <h4 class="tituloHabilidades">HTML</h4>

            <div class="barra" style="transform: rotate(135deg);">
                <div class="cont" style="background-color: rgb(143, 136, 136);"></div>
                <div class="cont" style="background-color: rgb(208, 57, 228)"></div>
            </div>

            <div class="circuloCentro"></div>
            <div class="rectangulo"></div>
            <h2 class="tituloHabilidades" style="font-size: 22px; position:relative; margin: -125px auto 50px;">75%</h2>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
            <h4 class="tituloHabilidades">CSS</h4>

            <div class="barra" style="transform: rotate(135deg);">
                <div class="cont" style="background-color: rgb(143, 136, 136);"></div>
                <div class="cont" style="background-color: rgb(208, 57, 228);"></div>
            </div>

            <div class="circuloCentro"></div>
            <div class="rectangulo"></div>
            <h2 class="tituloHabilidades" style="font-size: 22px; position:relative; margin: -125px auto 50px;">75%</h2>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
            <h4 class="tituloHabilidades">JavaScript</h4>

            <div class="barra" style="transform: rotate(135deg);">
                <div class="cont" style="background-color: rgb(143, 136, 136);"></div>
                <div class="cont" style="background-color: rgb(208, 57, 228);"></div>
            </div>

            <div class="circuloCentro"></div>
            <div class="rectangulo"></div>
            <h2 class="tituloHabilidades" style="font-size: 22px; position:relative; margin: -125px auto 50px;">75%</h2>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
            <h4 class="tituloHabilidades">Bootstrap</h4>

            <div class="barra" style="transform: rotate(135deg);">
                <div class="cont" style="background-color: rgb(143, 136, 136);"></div>
                <div class="cont" style="background-color: rgb(208, 57, 228);"></div>
            </div>

            <div class="circuloCentro"></div>
            <div class="rectangulo"></div>
            <h2 class="tituloHabilidades" style="font-size: 22px; position:relative; margin: -125px auto 50px;">75%</h2>
        </div>

    </div>

    <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
            <h4 class="tituloHabilidades">C++</h4>

            <div class="barra" style="transform: rotate(135deg);">
                <div class="cont" style="background-color: rgb(143, 136, 136);"></div>
                <div class="cont" style="background-color: rgb(208, 57, 228);"></div>
            </div>

            <div class="circuloCentro"></div>
            <div class="rectangulo"></div>
            <h2 class="tituloHabilidades" style="font-size: 22px; position:relative; margin: -125px auto 50px;">75%</h2>

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
            <h4 class="tituloHabilidades">Ruby</h4>

            <div class="barra" style="transform: rotate(90deg);">
                <div class="cont" style="background-color: rgb(143, 136, 136);"></div>
                <div class="cont" style="background-color: rgb(208, 57, 228);"></div>
            </div>

            <div class="circuloCentro"></div>
            <div class="rectangulo"></div>
            <h2 class="tituloHabilidades" style="font-size: 22px; position:relative; margin: -125px auto 50px;">50%</h2>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
            <h4 class="tituloHabilidades">PHP</h4>

            <div class="barra" style="transform: rotate(45deg);">
                <div class="cont" style="background-color: rgb(143, 136, 136);"></div>
                <div class="cont" style="background-color: rgb(208, 57, 228);"></div>
            </div>

            <div class="circuloCentro"></div>
            <div class="rectangulo"></div>
            <h2 class="tituloHabilidades" style="font-size: 22px; position:relative; margin: -125px auto 50px;">25%</h2>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-xl-3">
            <h4 class="tituloHabilidades">ETC</h4>

            <div class="barra" style="transform: rotate(45deg);">
                <div class="cont" style="background-color: rgb(143, 136, 136);"></div>
                <div class="cont" style="background-color: rgb(208, 57, 228);"></div>
            </div>

            <div class="circuloCentro"></div>
            <div class="rectangulo"></div>
            <h2 class="tituloHabilidades" style="font-size: 22px; position:relative; margin: -125px auto 50px;">25%</h2>
        </div>

    </div>

</section>

